<div class="name">{{ fullname.toUpperCase() }}</div>

<div class="contacts" *ngIf="websites.length <= 2">
  <table>
    <tbody>
      <tr>
        <td>{{ phoneNo }}</td>
        <td>{{ email }}</td>
        <td *ngFor="let website of websites"><a href="https://www.{{ website }}">{{ website }}</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="contacts" *ngIf="websites.length > 2">
  <table>
    <tbody>
      <tr>
        <td>{{ phoneNo }}</td>
        <td>{{ email }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <table>
    <tbody>
      <tr>
        <td *ngFor="let website of websites"><a href="https://www.{{ website }}">{{ website }}</a></td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<div class="statement" *ngIf="statements.length > 0">
  <div *ngFor="let statement of statements">{{ statement }}</div>
</div>
