table{
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.name{
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 20px;
}

.contacts{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.statement{
  margin: 0 auto;
  width: 80%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
