body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background-size: 100%;
}
#portfolio{
    width: 80%;
    margin: 0 auto;
}
#name{
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 30px;
}
#contacts{
    font-size: 16px;
    font-weight: 400;
    float: right;
}
.subs{
    font-size: 24px;
    font-weight: 600;
}
.contents{
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 400;
}
.logo{
    display: inline;
}