body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    background-size: 100%;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    width: 60%;
    margin: 0 auto;
}
#name{
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 30px;
}
#contacts{
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}
#divider1{
    grid-column-start: 1;
    grid-column-end: 5;
}
#contents{
    grid-column-start: 1;
    grid-column-end: 5;
}
#exp{
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 20px;
}
#divider2{
    grid-column-start: 1;
    grid-column-end: 5;
}
#job1{
    grid-column-start: 1;
    grid-column-end: 2;
}
#jobdesc1{
    grid-column-start: 2;
    grid-column-end: 5;
}
#job2{
    grid-column-start: 1;
    grid-column-end: 2;
}
#jobdesc2{
    grid-column-start: 2;
    grid-column-end: 5;
}
#company1{
    grid-column-start: 1;
    grid-column-end: 5;
}
#edu{
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 20px;
}
#divider3{
    grid-column-start: 1;
    grid-column-end: 5;
}
#school1{
    grid-column-start: 1;
    grid-column-end: 2;
}
#schooldesc1{
    grid-column-start: 2;
    grid-column-end: 5;
}
#school2{
    grid-column-start: 1;
    grid-column-end: 2;
}
#schooldesc2{
    grid-column-start: 2;
    grid-column-end: 5;
}
.subs{
    font-size: 24px;
    font-weight: 600;
}
.contents{
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 400;
}
.logo{
    display: inline;
}