td{
  width: 50%;
}

.skill-container{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 80%;
  margin: 0 auto;
}
