<nav>
  <ul>
    <li><a href="#about">About me</a></li>
    <li><a href="#projects">Projects</a></li>
  </ul>
</nav>

<div id="hero">
  <p>Keep in touch, drop your email below!</p>
  <form [formGroup]="emailForm" (ngSubmit)="keepEmail(emailForm.value)">
    <input formControlName="email" type="email">
    <button type="submit">Submit</button>
  </form>
</div><br>

<div id="about" *ngIf="about.length != 0">
  <div *ngFor="let sentence of about">{{ sentence }}</div>
  <div>You may visit my resume <a href="https://atkabdlh.github.io/resume/" target="_blank">here</a>.</div>
</div>

<div id="projects">
  <div *ngFor="let project of projects">
    <img src="{{ project.image }}" width="100%">
    <h3>{{ project.title }}</h3>
    <p>{{ project.desc }}</p>
    <a href="{{ project.site }}" target="_blank">Demo</a> | <a href="{{ project.github }}" target="_blank">Github</a>
  </div>
</div>
<br><br>
