div{
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-top: 40px;
}

button{
  height: 30px;
  width: 100px;
  border: 1px solid #4f4f4f;
  background-color: #e0e0e0;
  margin: 0 10px 0 10px;
}

button:hover{
  background-color: #4f4f4f;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}
