<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="home button">
<!--    (click)="scrollTo(hero)"-->
    <mat-icon>home</mat-icon>
  </button>
  <span></span>
  <span class="example-spacer"></span>
  <a mat-icon-button class="example-icon" aria-label="about button" href="https://atkabdlh.github.io/resume/" target="_blank">
    <mat-icon>face</mat-icon>
  </a>
  <a mat-icon-button class="example-icon" aria-label="email button" href="mailto:atkabdlh@gmail.com">
    <mat-icon>email</mat-icon>
  </a>
</mat-toolbar>

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../assets/coding.jpg" alt="First slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Website Development</h3>
      <p>Coming Soon!</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../assets/drawing.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Drawing and Graphic Design</h3>
      <p>Coming Soon!</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../assets/designing.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Interior Design</h3>
      <p>Coming Soon!</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>






