.work-container{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  width: 80%;
  margin: 0 auto;
}

.sub-title{
  font-size: 20px;
  font-weight: 600;
}

.date{
  font-size: 16px;
  font-weight: 600;
}
